
.LinkConteier {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: justify;
  justify-content: left;
  width: 50%;
  background: rgb(218, 218, 218);
 
}

ul {
  list-style-type: none;
  text-align: left;
}

.VideoExamples {
  border-radius: 8px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.info-container {
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  background: rgb(255, 204, 0);
  margin: 0;
}

.player-container {
  border-radius: 0 8px 8px 0;
  display: flex;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  background: rgb(192, 192, 192);
}

.upolad-text {
  position: center;
  
}

