

body {
  font-family: Helvetica;
  margin: 0;
}

.App {
  display: block;
}

  .Header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: center;
  }

  .Header li {
    display: inline-block;
    margin: 0 1em 0 1em;
  }

  .button {
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .HeaderButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .HeaderButton span:after {
    content: '↓';
    position: absolute;
    opacity: 0;
    bottom: 5px;
    transition: 0.5s;
  }

  .HeaderButton:hover span {
    padding-bottom: 10px;
  }

  .HeaderButton:hover span:after {
    opacity: 1;
    bottom: 0;
  }

.CodeExamplesDiv {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;

}

.Example {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

}
