@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Code Pro', monospace;
}

body {
  margin: 0;
  background-color: #009CDF;
}

main {
  margin-top: 2rem;
  text-align: center;
}

