@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');


* {
  box-sizing: none;
}

html {
  font-family: 'Source Code Pro', monospace;
}

body {
  margin: 0;
  background-color: #4296d2;

}

main {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}
